.hero{
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15vw;
    gap: 3vh;
    line-height: 1.5vh;
}

.hero-left h2{
    font-size: 1.5vw;
    font-weight: 600;
    color: #090909;
    text-transform: uppercase;
}

.hero-left p{
    color: #171717;
    font-size: 4.8vw;
    font-weight: 600;
}

#p p{
    line-height: 4.6vw;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.hero-hand-icon img{
    width: 3.5vw;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff4141;
    color: white;
    font-weight: 500;
    font-size: 1.5vw;
    gap: 0.6vw;
    margin-top: 1.5vw;
    width: 20vw;
    height: 3.5vw;
    border-radius: 3.5vw;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img{
   height: 95vh;
}