.productdisplay{
    display: flex;
    margin: 0vw 8.5vw;
}

.productdisplay-left{
    display: flex;
    gap: 0.8vw;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.productdisplay-img-list img{
    height: 8.15vw;
}

.productdisplay-main-img{
    width: 29.8vw;
}

.productdisplay-right{
    margin: 0vw 3.5vw;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    font-size: 2vw;
    color: #3d3d3d;
    font-weight: 700;
}

.productdisplay-right-stars{
    display: flex;
    align-items: center;
    gap: 0.25vw;
    margin-top: 0.65vw;
    color: #1c1c1c;
    font-size: 0.8vw;
}

.productdisplay-right-prices{
    display: flex;
    margin: 2vw 0vw;
    gap: 1.5vw;
    font-size: 1.2vw;
    font-weight: 700;
}

.productdisplay-right-prices-new{
    color: #ff4141;
}

.productdisplay-right-price-old{
    text-decoration: line-through;
    color: #818181;
}

.productdisplay-right-size h1{
    margin-top: 2.75vw;
    color: #656565;
    font-size: 1vw;
    font-weight: 600;
}

.productdisplay-right-sizes{
    display: flex;
    margin: 1.5vw 0vw;
    gap: 1vw;
}

.productdisplay-right-sizes div{
    padding: 0.9vw 1.2vw;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 0.15vw;
    cursor: pointer;
}

.productdisplay-right button{
    padding: 1vw 2vw;
    width: 10vw;
    font-size: 0.8vw;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 2vw;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category{
    margin-top: 0.5vw;
}

.productdisplay-right-category span{
    font-weight: 600;
}

